# vim: set ft=muttrc
set editor=vim
set mbox_type=Maildir
set header_cache=~/.cache/mutt

set realname="Corey Richardson"
set from="corey@octayn.net"
alternates "richarcm@clarkson.edu|crichardson@thinkful.com"
set use_from=yes
set reverse_name

set signature="~/.signature"

set sendmail="/usr/bin/msmtp"

set edit_headers=yes
set folder=~/.mail/fastmail
set mbox=+Archive
set spoolfile=+Inbox
set record="+Sent Items"
set postponed=+Drafts

set sort=threads
set send_charset="utf-8"

mailboxes + `find ~/.mail/fastmail -type d ! -name 'cur' ! -name 'new' ! -name 'tmp' -printf '"%p" '`

bind index ^<tab> next-unread-mailbox
